* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f0ededad;
    
}

a {
    text-decoration: none;
    color: #000;
}

.catalogWrapper {
    max-width: 1330px;
    height: auto;
    margin: 0 auto;
    padding: 0 25px;
}

.catalog__content {
    display: flex;
}
/*
.catalog__filter {
    border: 1px solid black;
}
*/
.catalog__sticky {
    position: relative;
    transform: translate3d(0px, 0px, 0px);
}

.catalog__filter-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
    border-radius: 8px;
    height: 1190px; /* временно */
}

.left-filters__list .ui-collapse_list {
    position: relative;
}
.ui-collapse_list {
    background: #fff;
}
.ui-collapse {
    display: block !important;
}

.ui-collapse_list .ui-collapse__link_list:hover {
    background-color: #dae0ff;
}
.ui-collapse_list .ui-collapse__link_list {
    display: flex;
    padding: 8px 24px 8px 13px;
}
.ui-collapse__link_left:hover {
    color: #0b07fc;
}

.ui-collapse_list .ui-collapse__link_list:before {
    content: "";
    display: inline-block;
    height: 100%;
    min-height: 33px;
    vertical-align: middle;
}

.ui-collapse_list .ui-collapse__link_list:hover i {
    color: #0b07fc;
}
.ui-collapse__icon_left {
    color: #afafaf;
    display: flex;
    font-size: 20px;
    height: 16px;
    margin-right: 8px;
    /* margin-top: 4px; */
    padding-left: 0;
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}

.rotate {
    transform: rotate(180deg);
}


.ui-collapse__icon_left:before {
    vertical-align: top;
}

.ui-collapse__icon_down:before,
.ui-collapse__icon_up:before {
    display: inline-block;
    font-family: i-icon !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.ui-collapse_list .ui-collapse__link-text {
    display: inline-block;
    width: calc(100% - 30px);
}

.ui-collapse_list .ui-collapse__content_list.ui-collapse__content_default-in,
.ui-collapse_list .ui-collapse__content_list.ui-collapse__content_in {
    padding-bottom: 10px;
}

.ui-collapse_list .ui-collapse__content_list {
    margin-top: 0;
}
.ui-collapse__content_default-in {
    max-height: none;
    opacity: 1;
    overflow: visible;
}
.ui-collapse__content {
    margin-top: 10px;
    max-height: 0;
    /*opacity: 0;
    overflow: hidden;*/
}

.ui-checkbox-group_list {
    max-height: 298px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
}

.ui-checkbox_list {
    font-size: 14px;
    margin: 0;
    padding: 6px 0 6px 41px;
    transition: 0.3s;
}
.ui-checkbox {
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 8px 0 8px 23px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 13px;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.ui-checkbox__input {
    height: 0;
    margin: 0 !important;
    opacity: 0;
    position: absolute;
    top: 50%;
}
input {
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.ui-checkbox__box_list {
    left: 15px;
    top: 7px;
}

.ui-checkbox__box {
    background: #fff;
    border: 1px solid #afafaf;
    border-radius: 4px;
    box-sizing: border-box;
    height: 16px;
    left: 0;
    position: absolute;
    top: 10px;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.23, 1);
    width: 16px;
}

.ui-checkbox__input:checked + .ui-checkbox__box {
    animation: shrink-bounce 0.2s cubic-bezier(0.4, 0, 0.23, 1);
    background-color: #1fcfca;
    border: 6px solid #1fcfca;
}

.ui-checkbox__input:checked+.ui-checkbox__box {
    animation: shrink-bounce .2s cubic-bezier(.4,0,.23,1);
    background-color: #1fcfca;
    border: 6px solid #1fcfca;
}

.ui-checkbox__input:checked+.ui-checkbox__box:after {
    animation: checkbox-check 125ms cubic-bezier(.4,0,.23,1) .25s forwards;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: content-box;
    content: "";
    height: 7px;
    left: -3px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    width: 3px;
}

.catalog-filter-count {
    color: #a0a2a5;
}
.catalog-filter-count:before {
    content: "(";
}
.catalog-filter-count:after {
    content: ")";
}


.ui-list-controls__link_clear {
    float: right;
    margin-right: 16px;
    padding-top: 5px;
}

.ui-list-controls__link {
    font-size: 13px;
    margin: 5px 0 5px 8px;
}
.ui-link_pseudolink {
    border-bottom: 1px dotted;
    display: inline-block;
}
.ui-link_red, .ui-link_red:focus {
    color: #cc2e12;
}
.ui-link, .ui-link:focus {
    color: #333;
    text-decoration: none;
}
.ui-link {
    transition-duration: .3s;
    transition-property: color;
}
a {
    cursor: pointer;
}
a {
    background-color: transparent;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    outline: none!important;
    outline-offset: unset!important;
}

.ui-list-controls__link_hide {
    visibility: hidden;
}
.ui-list-controls__link_clear {
    float: right;
    margin-right: 16px;
    padding-top: 5px;
}

/* products list*/
.products-page__list {
    margin-left: 20px;
    width: 100%;
}

.top-filters__view-mode {
    align-items: center;
    display: flex;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.top-filters__view-mode-input {
    display: none;
}
input {
    line-height: normal;
}

.top-filters__view-mode-label_tile {
    width: 16px;
    height: 16px;
    background-image: url(./fourtpack.svg);
}

.top-filters__view-mode-label {
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 22px;
    margin: 0;
    opacity: .5;
}

.top-filters__view-mode-input:checked+.top-filters__view-mode-label {
    opacity: 1;
}

.top-filters__view-mode-label_simple {
    width: 16px;
    height: 16px;
    background-image: url(./onepack.svg);
}
.top-filters__view-mode-label {
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 22px;
    margin: 0;
    opacity: .5;
}

.popover-wrapper {
    position: relative;
}

.top-filter {
    display: inline-block;
}

.top-filter__label, .top-filter__selected {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.top-filter__label {
    margin-right: 5px;
}

.ui-link_blue, .ui-link_blue:focus {
    color: #1fcfca;
}
.ui-link, .ui-link:focus {
    color: #333;
    text-decoration: none;
}
.ui-link {
    transition-duration: .3s;
    transition-property: color;
}

.top-filter__selected {
    max-width: 150px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    text-transform: lowercase;
    white-space: nowrap;
}

.top-filter__icon {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}





.catalog-mobile-filters__aside-back:before, .catalog-mobile-filters__toggle:before, .left-filters-toggle[data-id=rely]:before, .left-filters__button_extended-link i:before, .picked-filter__close:before, .picked-filter_subscribe:before, .products-list__group-title-icon:before, .products-page__guide-bottom:after, .products-page__guide-bottom:before, .products-page__mobile-back i:before, .tabs-top-filters__arrow_left:before, .tabs-top-filters__arrow_right:before, .top-filter.popover-wrapper_show .top-filter__icon:before, .top-filter__icon:before, .top-filters__preview[data-id=rely]:before, .top-filters__preview_consult:before {
    display: inline-block;
    font-family: i-icon!important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.sort-icon {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-left: 5px;
    transition: rotate 1s ease;
}
.top-filters_wrap {
    display: flex;
    height: 40px;
    align-items: center;
}

.products-list {
    position: relative;
}

.catalog-products.view-simple {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.products-list__banner+.catalog-products {
    margin-top: 10px;
}

.catalog-products .catalog-product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
}

.catalog-product {
    position: relative;
}

.catalog-product__image {
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.catalog-product__image-link {
    display: block;
    width: 100%;
}

img.loaded[data-src], img.loaded[data-srcset] {
    opacity: 1;
}

img[data-src], img[data-srcset] {
    transition: opacity .3s ease-in;
}
.catalog-product__image img {
    max-height: 100%;
    max-width: 100%;
}

.catalog-product__name {
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
}

.catalog-product__avails, .catalog-product__buy, .catalog-product__voblers {
    will-change: contents;
}

.vobler, .w-product-voblers {
    max-width: 100%;
    position: relative;
}

.w-product-voblers {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: start;
    justify-items: center;
}

#v-4w_c {
    color: #7c4cff;
}

.vobler {
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 4px;
    margin-right: 4px;
    min-height: 22px;
    overflow: hidden;
    padding: 0 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.vobler:after {
    content: " ";
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%;
}

.catalog-product__stat {
    display: flex;
    flex-direction: row;
}

.catalog-product .compare-checkbox {
    min-width: 90px;
    text-align: right;
}

.catalog-product__stat :first-child {
    margin-left: 0;
}

.catalog-product .compare-checkbox .ui-checkbox {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 26px!important;
}

.catalog-product .compare-checkbox .ui-checkbox, .catalog-product__comment, .catalog-product__rating, .catalog-product__service-rating {
    align-items: center;
    border: 1px solid #eee;
    border-radius: 8px;
    display: inline-flex;
    font-size: 14px;
    line-height: 18px;
    padding: 6px;
    text-decoration: none!important;
    white-space: nowrap;
}

.ui-checkbox {
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 8px 0 8px 23px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ui-checkbox__input {
    height: 0;
    margin: 0!important;
    opacity: 0;
    position: absolute;
    top: 50%;
}

.catalog-product .compare-checkbox .ui-checkbox__box {
    left: 6px;
    top: 7px;
}

.catalog-product__rating {
    margin-left: 4px;
}

.ui-checkbox__box {
    background: #fff;
    border: 1px solid #afafaf;
    border-radius: 4px;
    box-sizing: border-box;
    height: 16px;
    left: 0;
    position: absolute;
    top: 10px;
    transition: all .25s cubic-bezier(.4,0,.23,1);
    width: 16px;
}

.catalog-product__rating i {
    background-image: url(./star.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 18px;
    margin-right: 4px;
    width: 12px;
}

.catalog-product__rating[data-rating="0"] i, .catalog-product__rating[data-rating="1"] i:first-child~i, .catalog-product__rating[data-rating="2"] i:nth-child(2)~i, .catalog-product__rating[data-rating="3"] i:nth-child(3)~i, .catalog-product__rating[data-rating="4"] i:nth-child(4)~i, .catalog-product__rating[data-rating="5"] i:nth-child(5)~i {
    background-image: url(./blindstar.svg);
}

.product-buy_one-line {
    display: flex;
    min-height: 44px;
}
.product-buy {
    display: block;
    min-height: 44px;
}
.catalog-product__avails, .catalog-product__buy, .catalog-product__voblers {
    will-change: contents;
}

.product-buy__price-wrap_interactive {
    cursor: pointer;
}

.product-buy__price-wrap {
    background: linear-gradient(270deg,#f6f6f6,hsla(0,0%,100%,0));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-height: 44px;
    position: relative;
}

.product-buy .wishlist-btn {
    font-size: 20px;
    padding: 0;
    width: 44px!important;
}

.product-buy .button-ui {
    font-weight: 400!important;
    height: 44px;
    line-height: 42px;
    min-width: 44px!important;
    padding: 0 10px;
    width: auto;
}

.product-buy .button-ui_blue, .product-buy .button-ui_brand {
    font-weight: 400;
}
.button-ui_icon {
    color: #afafaf;
    min-width: 40px;
    padding: 0;
}

.product-buy_one-line .button-ui {
    margin-left: 4px;
}
.button-ui {
    transition: padding-right .3s;
}

.product-buy__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.product-buy__price-wrap_interactive .product-buy__hint {
    display: block;
}

.product-buy__hint {
    color: #d3d3d3;
    display: none;
    font-size: 22px;
    position: absolute;
    right: 8px;
}

.product-buy-modal__collapse-icon:before, .product-buy-modal__collapse-title_in .product-buy-modal__collapse-icon:before, .product-buy-modal__hint:before, .product-buy__hint:before {
    speak: none;
    display: inline-block;
    font-family: i-icon!important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}

.product-buy__sub {
    font-size: 12px;
    line-height: 14px;
}

.wishlist-btn:before, .wishlist__icon-add:before {
    background-image: url(./heart.svg);
}

/*


.popover-block_show {
    display: block;
    opacity: 1;
    visibility: visible;
}
.popover-block {
    background: #fff;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.16);
    display: none;
    max-width: 460px;
    min-width: 300px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: opacity .4s;
    visibility: hidden;
    z-index: 1001;
}

.top-filter__popover {
    max-height: 400px;
    max-width: 320px;
    min-width: 240px;
    overflow: auto;
}

.top-filter__radio-list .ui-radio__item {
    cursor: pointer;
    padding: 8px 16px;
}

.ui-radio__item {
    margin: 0;
    padding: 5px 0;
}
.ui-radio__item {
    cursor: pointer;
    display: block;
    padding: 10px 0;
    position: relative;
}

.ui-radio input[type=radio] {
    height: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.top-filter__radio-list .ui-radio__content {
    display: inline-block;
}

.ui-radio__content {
    cursor: pointer;
    font-size: 16px;
    padding-left: 23px;
    position: relative;
}

.top-filter__popover-shadow_hidden {
    height: 0;
}

.top-filter__popover-shadow {
    background: linear-gradient(0deg,#fff 30%,hsla(0,0%,100%,0));
    border-radius: 8px;
    bottom: 0;
    height: 30px;
    position: absolute;
    transition: .2s;
    width: 100%;
}

*/

/* Media queries */

@media (min-width: 1200px) {
.products-page__list {
    width: calc(100% - 298px);
}
}

@media (min-width: 992px) {
.products-page__top-block {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);
    margin-bottom: 10px;
}
.catalog-products.view-simple .w-product-voblers .vobler {
    margin-right: 0;
}
.top-filters {
    padding: 0 16px;
}
.top-filters__wrap {
    align-items: center;
    display: flex;
    height: 54px;
}
.top-filters__view-mode {
    height: 19px;
    margin: 0 -4px 0 auto;
    order: 2;
}
.top-filters__view-mode-label {
    position: relative;
}
.top-filters__view-mode-label {
    height: 16px;
    width: 16px;
}

.top-filters__view-mode-label:hover {
    opacity: 1;
}

.top-filters__view-mode-input:checked:hover+.top-filters__view-mode-label {
    opacity: inherit;
}

.top-filters__view-mode-input:checked+.top-filters__view-mode-label {
    color: #333;
}

.top-filters__view-mode-input:hover+.top-filters__view-mode-label {
    opacity: .8;
}

.top-filters__view-mode-label~.top-filters__view-mode-label {
    margin-left: 8px;
}

.top-filters__view-mode-label {
    position: relative;
}

.top-filters__view-mode-label {
    height: 16px;
    width: 16px;
}

.top-filter {
    display: inline-flex;
    width: auto;
}

.top-filter .ui-link {
    align-content: center;
    display: inline-flex;
}

.catalog-products.view-simple .w-product-voblers {
    flex-wrap: nowrap;
}

.button-ui.button-ui_passive {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #333;
    font-weight: 400;
}
}

@media (min-width: 768px) {
    .catalog-products.view-simple .catalog-product {
        grid-gap: 12px 0;
        display: grid;
        grid-template-columns: auto minmax(0,1fr) 170px;
        grid-template-rows: 1fr 32px 20px;
        padding: 24px 16px;
        border-radius: 15px;
    }

    .catalog-products.view-simple .catalog-product__buy .product-buy__price {
        display: flex;
        flex-direction: column-reverse;
        font-size: 20px;
        grid-column: 2;
        grid-row: 2;
        line-height: 26px;
    }

    .catalog-products.view-simple .catalog-product__buy .product-buy__sub {
        font-size: 14px;
        grid-column: 1/3;
        grid-row: 3;
    }

    .catalog-products.view-simple .catalog-product__buy .product-buy__hint {
        align-self: end;
        bottom: -3px;
        font-size: 22px;
        grid-column: 1;
        grid-row: 2;
        position: relative;
    }

    .catalog-products.view-simple .catalog-product__buy .product-buy__sub {
        font-size: 14px;
        grid-column: 1/3;
        grid-row: 3;
    }
    .catalog-products.view-simple .catalog-product__image {
        grid-column: 1;
        grid-row: 1/4;
        height: 176px;
        margin-right: 12px;
        width: 160px;
    }
    .catalog-products.view-simple .catalog-product__name {
        grid-column: 2;
        grid-row: 1;
        max-height: 100px;
    }

    .catalog-products.view-simple .catalog-product__voblers {
        align-self: end;
        background: #fff;
        display: flex;
        grid-column: 2;
        grid-row: 1;
        margin-top: 22px;
        max-height: 34px;
        overflow: hidden;
        padding-top: 12px;
        z-index: 1;
    }

    .catalog-products.view-simple .catalog-product__stat {
        grid-column: 2;
        grid-row: 2;
    }

    .catalog-products.view-simple .catalog-product__buy {
        display: grid;
        grid-column: 3;
        grid-row: 1/3;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        justify-self: right;
        padding-left: 12px;
    }

    .catalog-products.view-simple .catalog-product__buy .product-buy__price-wrap {
        align-self: flex-start;
        background: none;
        display: grid;
        grid-column: 1/3;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        justify-content: start;
        justify-self: end;
        padding-bottom: 16px;
        text-align: right;
    }

    .catalog-products.view-simple .catalog-product__buy .wishlist-btn {
        justify-self: right;
        margin: 0;
    }

    .catalog-products.view-simple .catalog-product__buy .wishlist-btn+* {
        height: 44px;
        margin-left: 8px;
        min-width: 100px!important;
    }
}


/* Animations */

@keyframes checkbox-check {
    0% {
        border-color: #fff;
        height: 0;
        transform: translateZ(0) rotate(45deg);
        width: 0
    }

    33% {
        height: 0;
        transform: translateZ(0) rotate(45deg);
        width: .2em
    }

    to {
        border-color: #fff;
        height: .5em;
        transform: translate3d(0,-.5em,0) rotate(45deg);
        width: .2em
    }
}
